
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")

// Variables
@import "_variables"

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap"

.container
  color: #00bfff

//h1
//  text-align: center
//p
//  color: #444444
//thead
//  font-size: 36px
//
.user-property
  text-align: left
  font-weight: bold

.user-value
  text-align: right
  color: #444444

.list-property
  text-align: left
  font-weight: bold

.list-value
  color: #444444

.error
  padding: 15px
  background-color: rgba(152, 203, 232, 0.25)
  border: 1px solid #2a88bd
  border-radius: 4px

.spinner
  width: 100px
  height: 100px
  div
    background-color: #00bfff
//
//.panel
//  margin-top: 50px
//
//.btn
//  margin-right: 5px
//.edit_button
//  float: right
//  font-size: 21px
//  font-weight: bold
//  line-height: 1
//  color: #000
//  text-shadow: 0 1px 0 #fff
//  opacity: 0.2
//
//  &:hover,:focus
//    text-decoration: none
//    cursor: pointer
//    opacity: 0.5
//    filter: alpha(opacity=50)
